
.toggle-container {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    padding: 0 5px;
}

.toggle, .toggle-label-container{
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 2px;
}
.toggle-label{
    font: var(--toggle-label-font-size, bold 1em sans-serif);
    color: var(--toggle-label-font-color, black);
}
.toggle-button{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    border-radius: 20px;
    background-color: var(--toggle-closed-background-color, #eee);
    align-items: center;
    border: 0;
}

.toggle-button:focus{
    outline: 0;
    box-shadow: 0 0 2pt 2pt var(--focus-outline-color, black);
}

.toggle-button[aria-pressed="true"]
{
    background-color: var(--toggle-open-backgorund-color,#7983ff);
}

.toggle-button::after {
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: var(--toggle-button-color, white);
    transition: all 0.3s;
}

.toggle-button[aria-pressed="true"]::after{
    left: 20px;
}



